*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
}
.rocket_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     background-size: cover; 
     overflow: hidden;
     background-image: url(../images/pexels-johann-piber-695657.jpg);
}
.rocket{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 420px;
    border: 1px soxlid red;
    height: 350px;
    
}
.cloud1{
    /* height: 50%; */
    width: 40%;
    margin-top: 20%;
    
}
