*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body{
    box-shadow: none;
    
}
.rocket_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    background-image: url(/images/pexels-johann-piber-695657.jpg);
    
    height: 100vh;
    
}
.rocket{
    /* border: 2px solid red; */
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: animatea 3s ease 1 forwards;
}
@keyframes animatea{
    from{
        margin-top: 400px ;
    }
    to{
        margin-top: -850px;
    }
    
}


.cloudx{
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    animation: cloudx 2s ease-out 1 forwards;
    height: 35rem;
    width:450rem;
    top: 150px;
    
}
@keyframes cloudx{
    from{
        left: 0;
    }
    to{
        left: 200px;
    }   
}

.cloudy{
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    animation: cloudy 2s ease-out 1 forwards;
    height: 35rem;
    width: 450rem;
    top: 150px;
}
@keyframes cloudy{
    from{
        right: 0;
    }
    to{
        right: 200px;
    }
}
