*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(../images/pexels-johann-piber-695657.jpg);
}
.rocket_section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.rocket{
    border: 1px solid red;
}
